<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Eventos</title>

<link type="text/css" rel="stylesheet" href="/jquery/jquery-ui.min.css" >
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

<style type="text/css">
			body{
				padding: 0px;
				margin: 0px;
				background-color: #e0ffff;
				font-family: tahoma;
			}
			
			th{
				font-size: 20px;
			}
			
			td, a{
				font-size: 15px;
				font-style: #1e90ff;
			}
		
			h1{
				margin: -4px;
				background-color: #7b68ee;
				text-align: center;
				font-size: 40px;
				height: 50px;
				font-style: bold;
			}
			
			input{
				border-bottom: solid 1px;
			}
		</style>

</head>
<body>
	<h1>Evento</h1>
	
	<a href="/telas/usuario">Usuario</a>
	<div th:each="u : ${usuarioobj}">
		<div class="row">
			<p>Codigo:<span th:text="${u.codUsuario}"></span></p>
			<p>Nome:<span th:text="${u.nome}"></span></p>
			<p>Idade:<span th:text="${u.idade}"></span></p>	
		</div>
	</div> 
	<br>
	<br>
	<div>
			<form  th:action="@{/addEvento/{codUsuario}(codUsuario=${usuarioobj.codUsuario})}"  method="POST" class="col s12">
				<div class="row">
					
					<div class="input-field col s6">
						<label for="nomeEvevnto" class="active">Evento</label> 
						<input name="nomeEvento" id="nomeEvento" class="validate" required="required">
					</div>
					<div class="input-field col s3">
						<label for="dataEvento" class="active">Data</label> 
						<input name="dataEvento" type="date" id="dataEvento" class="validate" required="required">
					</div>
					
				</div>
				<div class="row">
					
				</div>
				<div class="row">
					<div class="input-field col s6">
						<label for="nomePessoas" class="active">Pessoas</label> 
						<input name="nomePessoas" id="nomePessoas" class="validate" required="required">
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s6">
						<label for="descricao" class="active">Descrição do Evento</label>
						<textarea name="descricao" id="descricaoEvento" class="validate"></textarea>
					</div>
				</div>
				
					<div class="input-field col s3">
						<input type="submit" value="salvar">
					</div>
				
			</form>
			
			
		<table class="striped">
		<tr th:each="evento : ${eventos}">
			<td th:text="${evento.nomeEvento}"/>
			<td th:text="${evento.dataEvento}"/>
			<td th:text="${evento.nomePessoas}"/>
			<td th:text="${evento.descricaoEvento}"/>	
			<td><a th:href="@{/removerEvento/{codEvento}(codEvento = ${evento.codEvento})}">Excluir</a></td>	
		</tr>
	</table> 
			
	</div>

<script type="text/javascript" src="/jquery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	
</body>
</html>