<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Usuario</title>
		<meta charset="UTF-8">
		
		<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
		
	</head>
	<body>
		<div>
			<form action="cadastrarusuario" th:object="${usuarioobj}" method="POST" class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<label for="codusuario">Código:</label>
						<input name="codusuario" th:field="*{codUsuario}" readonly="readonly">
					</div>
					
					<div class="input-field col s12">
						<label for="email" class="active">Email: </label> 
						<input name="email" th:field="*{email}" class="validate">
					</div>
					
					<div class="input-field col s6">
						<label for="senha" class="active">Nome: </label> 
						<input name="senha" th:field="*{nome}" class="validate">
						
						<label for="confSenha" class="active">Idade: </label> 
						<input name="confSenha" th:field="*{idade}" class="validate">
					</div>
					
					<div class="input-field col s6">
						<a href="/index"> <input type="submit" value="salvar" title="cadastrar"></a>
					</div>
				</div>
			</form>
			
			<a href="/listarusuario">Lista Usuarios</a>
			
			
			<table>
				<tr>
					<th>COD</th>
					<th>Nome</th>
					<th>Email</th>	
					</tr>
					<tr th:each = "usuario : ${usuarios}">
					<td th:text ="${usuario.codUsuario}"></td>
					<td><a th:href="@{/evento/{codUsuario}(codUsuario =${usuario.codUsuario})}"><span th:text ="${usuario.nome}"></span></a></td>	
					<td><a th:href="@{/editarusuario/{codUsuario}(codUsuario =${usuario.codUsuario})}">Editar</a></td>
					<td><a th:href="@{/removerusuario/{codUsuario}(codUsuario =${usuario.codUsuario})}">Excluir</a></td> 
				</tr>
			</table>
			
		</div>
		
		<script type="text/javascript" src="/materialize/js/materialize.js"></script>
		<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	</body>
</html>