<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Usuario</title>
		<meta charset="UTF-8">
		
		<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
		<style type="text/css">
			body{
				padding: 0px;
				margin: 0px;
				background-color: #e0ffff;
				font-family: tahoma;
			}
			
			th{
				font-size: 20px;
			}
			
			td, a{
				font-size: 15px;
				font-style: #1e90ff;
			}
		
			h1{
				padding: -4px;
				background-color: #7b68ee;
				text-align: center;
				font-size: 40px;
				height: 50px;
				font-style: bold;
			}
			
			input{
				border-bottom: solid 1px;
			}
		</style>
	</head>
	<body>
		<h1>Crud Spring Boot</h1>
		<div class="row">
			<br>
			<div th:each=" m: ${msg}">
				<span th:text="${m}"></span>
			</div>
			<br>
			
			<form action="cadastrarusuario" th:object="${usuarioobj}" id="cadastro" method="POST" class="col s12">
				<div class="row">
					<div class="input-field col s3">
						<label for="codUsuario" class="active">Código:</label>
						<input name="codUsuario" class="validate" th:field="*{codUsuario}" readonly="readonly">
					</div>
					
				</div>
				<div class="row">
					<div class="input-field col s8">
						<label for="email" class="active">Email: </label> 
						<input name="email" th:field="*{email}" class="validate">
					</div>
				</div>
				
				<div class="row">	
					<div class="input-field col s8">
						<label for="nome" class="active">Nome: </label> 
						<input name="nome" th:field="*{nome}" class="validate">
					</div>
					<div class="input-field col s2">	
						<label for="idade" class="active">Idade: </label> 
						<input name="idade" th:field="*{idade}" class="validate">
					</div>
				</div>	
					<div class="input-field col s6">
						<input type="submit" value="Salvar">
						<button id="novo" onclick="document.getElementById=('cadastro').reset();">Novo</button>
					</div>
				
			</form>
				
			<table>
				<tr>
					<th>Cod</th>
					<th>Email</th>
					<th>Idade</th>
					<th>Nome</th>	
					</tr>
					<tr th:each = "usuario : ${usuarios}">
					<td th:text ="${usuario.codUsuario}"></td>
					<td th:text ="${usuario.email}"></td>
					<td th:text ="${usuario.idade}"></td>
					<td><a th:href="@{/evento/{codUsuario}(codUsuario =${usuario.codUsuario})}"><span th:text ="${usuario.nome}"></span></a></td>	
					<td><a th:href="@{/editarusuario/{codUsuario}(codUsuario =${usuario.codUsuario})}">Editar</a></td>
					<td><a th:href="@{/removerusuario/{codUsuario}(codUsuario =${usuario.codUsuario})}">Excluir</a></td> 
				</tr>
			</table>
			
		</div>
		
		<script type="text/javascript" src="/materialize/js/materialize.js"></script>
		<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	</body>
</html>