<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Usuario</title>
		<meta charset="UTF-8">
	</head>
	
		<div>
			<form action="cadastrarusuario" th:object="${usuarioobj}" method="POST" class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<label for="codusuario">Código:</label>
						<input name="codusuario" th:field="*{codUsuario}" readonly="readonly">
					</div>
					
					<div class="input-field col s12">
						<label for="email" class="active">Email: </label> 
						<input name="email" th:field="*{email}" class="validate">
					</div>
					
					<div class="input-field col s6">
						<label for="senha" class="active">Senha: </label> 
						<input name="senha" th:field="*{senha}" class="validate">
						
						<label for="confSenha" class="active">Confirmação Senha: </label> 
						<input name="confSenha" th:field="*{confSenha}" class="validate">
					</div>
					
					<div class="input-field col s6">
						<a href="/index"> <input type="submit" value="salvar" title="cadastrar"></a>
					</div>
				</div>
			</form>
			
			<a href="/listarusuario">Lista Usuarios</a>
			
			
			<table>
				<tr>
					<th>COD</th>
					<th>Nome</th>
					<th>Email</th>	
					</tr>
					<tr th:each = "usuario : ${usuarios}">
					<td th:text ="${usuario.codUsuario}"></td>
					<td><a th:href="@{/evento/{codUsuario}(codUsuario =${usuario.codUsuario})}"><span th:text ="${usuario.email}"></span></a></td>	
					<td><a th:href="@{/editarusuario/{codUsuario}(codUsuario =${usuario.codUsuario})}">Editar</a></td>
					<td><a th:href="@{/removerusuario/{codUsuario}(codUsuario =${usuario.codUsuario})}">Excluir</a></td> 
				</tr>
			</table>
			
		</div>
	<body>
	</body>
</html>